[submodule "javascript/modules/Seed"]
	path = javascript/modules/Seed
	url = git@github.com:cagosta/Seed.git
[submodule "javascript/modules/Geo"]
	path = javascript/modules/Geo
	url = git@github.com:cagosta/Geo.git
[submodule "javascript/modules/Array"]
	path = javascript/modules/Array
	url = git@github.com:cagosta/Array.git
[submodule "javascript/modules/Function"]
	path = javascript/modules/Function
	url = git@github.com:cagosta/Function.git
[submodule "javascript/modules/toDOM"]
	path = javascript/modules/toDOM
	url = git@github.com:cagosta/toDOM.git
[submodule "javascript/modules/String"]
	path = javascript/modules/String
	url = git@github.com:cagosta/String.git
[submodule "javascript/modules/core"]
	path = javascript/modules/core
	url = git@github.com:cagosta/core.git
